/* Colors
Black: #333333
Light gray: #F3F4F6
Dark purple/gray: #3D4052

--------------------------*/

/* Global styles
--------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #333333;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 300px;
}

a {
  color: orange;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  line-height: 1.4;
}

h2 {
  margin: 0;
  font-size: 25px;
}

h1,
h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  margin: 0;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Profile
--------------------------*/
header {
  background: #3d4052;
  color: #f7fff7;
}

/* Projects
--------------------------*/
.projects {
  background: #f3f4f6;
}

.projects a {
  color: #3d4052;
}

.projects .btn {
  color: #f3f4f6;
  background: #3d4052;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background: rgba(61, 64, 82, 80%);
}

.project-item {
  overflow: hidden;
  border-bottom: 1px dotted #333333;
  padding: 25px 0;
}

.project-item img {
  float: left;
  margin-right: 20px;
}

.project-item h3 {
  margin-top: 0;
}

/* Work Experience
--------------------------*/
.work-experience {
  background: #a1a5ba;
}

/* Education
--------------------------*/

/* Contact Information
--------------------------*/
footer {
  background: #333333;
  color: #f3f4f6;
}
